.page
  // background-color #fff
  transition $transition2
  &_blind
    filter grayscale(100%) contrast(1)
  &_mobile-menu-open
    transform translateX(10rem)

// .page
//   min-height calc(100vh)
  // &--shadow
  //   cursor pointer
  //   position relative
  //   &:after
  //     background-color rgba($main, .2)
  //     content ''
  //     height 100%
  //     left 0
  //     position fixed
  //     top 0
  //     width 100%
  //     z-index 100

.content
  min-height calc(100vh - 20rem)


.section
  margin-bottom 16rem
  & + .pagination
    margin-top -4rem
  &_small-offset
    margin-bottom 9.6rem

hr,
.hr
  background-color transparent
  border none
  height 1px
  border-top $border
  margin 2.4rem 0
  width 100%


.date
  color $gray
  font-size 1.4rem


@media(max-width 1200px)
  .section
    margin-bottom 12rem

@media(max-width 1000px)
  .section
    margin-bottom 8rem

@media(max-width 767px)
  .section
    margin-bottom 6.4rem




