.document
  display block
  margin-bottom 3.2rem
  &__img
    border $border
    border-radius $radius
    margin-bottom 2.4rem
    padding 4.8rem
    img
      border-radius $radius - 2
      width 100%
  &__ex
    color $gray
    font-size 1.4rem
    margin-bottom .5em
  &__name
    font-size 1.4rem
    line-height 1.6
    transition $transition
  &:hover
    .document
      &__name
        color $primary


.file
  display flex
  &__icon
    margin-right 1.6rem
  &__ex
    color $gray
    font-size 1.2rem
    margin-bottom .5em
  &__name
    font-size 1.4rem
    line-height 1.4
    transition $transition
  &:hover
    .file
      &__name
        color $primary










