.faq-links
  position sticky
  top 12rem

.faq-link
  cursor pointer
  font-size 2rem
  font-weight 500
  margin-bottom 2em
  transition $transition
  &_active,
  &:hover
    color $primary

.faqs
  display none
  &_active
    animation tabs .3s ease
    display block


.faq
  &:not(:last-child)
    border-bottom $border
  &:first-child
    .faq
      &__title
        padding-top 0
  &__container
    position relative
  &__top
    align-items center
    cursor pointer
    display flex
    justify-content space-between
    &:hover
      .faq
        &__arrow
          img
            filter invert(100%)
          &:after
            transform none
  &__arrow
    circleHover(4rem, #eee, $second)
    position relative
    transition $transition
    // &:after
    //   background-color $second
    img
      transition $transition
  &__title
    font-size 2rem
    line-height 1.2
    padding 1.2em 0
    padding-right 1.5em
  &__text
    display none
    color $gray-text
    padding-right 12rem
    p
      color $gray-text
  &_active
    .faq
      &__arrow
        transform rotate(180deg)
        &:before
          background-color $gray
        img
          filter invert(100%)
      // &__text
      //   display none




@keyframes faqs
  from
    opacity 0
    transform translateY(.5rem)
  to
    opacity 1
    transform none


@media(max-width 1200px)
  .faq-link
    font-size 1.6rem
  .faq
    &__title
      font-size 1.6rem
    &__arrow
      circleHover(3.2rem, #eee, $second)
    &__text
      padding-right 0


@media(max-width 767px)
  .faq-links
    overflow hidden
    margin-left -2.4rem
    margin-right -2.4rem
    &__container
      display flex
      overflow-x scroll
      padding 0 2.4rem
      overflow-y hidden
      -webkit-overflow-scrolling touchr
  .faq-link
    font-size 1.4rem
    flex-shrink 0
    margin-right 2em
      

