.inner-block
  display flex
  &__left
    // width 91%
    width 100%
  &__right
    align-items flex-start
    display flex
    flex-shrink 0
    justify-content flex-end
    // width 9%
    width 10%

.inner-header
  margin-bottom 6.4rem
  &_bordered
    padding-bottom 3.2rem
    position relative
    &:before
      bottom 0
      border-bottom $border
      content ''
      height 1px
      position absolute
      transition all $bezier2 2s
      width 0
  &__label
    color $gray
    font-size 1.4rem
    margin-bottom 2em
  &__title
    // margin-left -6px
    margin-left -.1em
    max-width 100rem

  &__p
    max-width 72rem
  &__subs
    display flex
    flex-wrap wrap
  &__sub
    margin-bottom 1em
    &:not(:last-child)
      margin-right 1.5em
  &.animated
    &:before
      width 100%



.sticky-btn
  align-items center
  display flex
  flex-shrink 0
  margin-bottom 4rem
  position sticky
  right 0
  top 16rem
  transform translateY(-4px)
  transition $transition2
  &__icon
    align-items center
    // background-color $primary
    border-radius 50%
    display flex
    flex-shrink 0
    justify-content center
    margin-right -.8rem
    position relative
    transition $transition
    size(6.4rem)
    &:before,
    &:after
      background-color $primary
      border-radius 50%
      content ''
      left 0
      position absolute
      size(6.4rem)
      top 0
      transition $transition
      z-index 0
    &:after
      background-color $primary - 12%
      size(7.2rem)
      transform scale(0)
      left -.4rem
      top -.4rem
    img
      position relative
      z-index 10
  &__text-container
    overflow hidden
    margin-right 1.5em
    position absolute
    right 5.6rem
  &__text
    color $primary
    font-size 1.2rem
    font-weight 600
    flex-shrink 0
    opacity .5
    letter-spacing 1px
    line-height 1.6
    text-transform uppercase
    text-align right
    transition all $bezier2 .6s
    width 26rem
  &_scroll
    .sticky-btn
      &__icon
        &:before
          left -.4rem
          top -.4rem
          size(7.2rem)
        &:after
          left -.8rem
          top -.8rem
          size(8rem)
      &__text
        opacity 0
        transform translateY(1rem)
  &:hover
    .sticky-btn
      &__icon
        &:before
          transform scale(1.1)
        &:after
          transform none
      &__text
        opacity .5
        transform none



@media(max-width 1200px)
  .inner-header
    margin-bottom 4rem
    &__title
      max-width 72rem
    &__sub
      font-size 1.4rem
    &_bordered
      padding-bottom 3.2rem
  .sticky-btn
    top 8rem
    &__text-container
      margin-right 1em
    &_scroll
      .sticky-btn
        &__icon
          &:before
            left 0
            size(6.4rem)
            top 0

@media(max-width 1000px)
  .inner-block
    &__right
      .sticky-btn
        &__text-container
          display none

@media(max-width 767px)
  .inner-header
    margin-bottom 4rem
    &_bordered
      padding-bottom 1.6rem
    p
      margin-bottom 1em
  .inner-block
    &__right
      bottom 0
      position fixed
      right 2.4rem
      width initial
      z-index 100
  .sticky-btn
    position initial
    transform none
    &_mobile-menu-open
      opacity 0
      transform translateY(4rem)

// @media(max-width 767px)
//   .inner-block
//     display block
//     &__right
//       display block
//       width 100%
//   .sticky-btn
//     position initial
//     &__icon
//       margin-right 1.6rem
//       order -1
//     &__text-container
//       margin-right .5em
//       order 2
//       position initial
//     &__text
//       text-align left
//     &_scroll
//       .sticky-btn
//         &__text
//           opacity 1
//           transform none
//   .inner-header
//     &_bordered
//       margin-bottom 3.2rem
//       padding-bottom .8rem


