.new
  display flex
  border-bottom $border
  padding 3.2rem 0
  &__img
    align-items center
    display flex
    justify-content center
    flex-shrink 0
    overflow hidden
    margin-right 4.8rem
    size(18rem, 24rem)
    &:not(&_noimage)
      img
        transition $transition
        transform scale(1.1)
        width 100%
  &__date
    margin-bottom .5em
  &__title
    font-size 2.4rem
    font-weight 500
    line-height 1.6
    margin-bottom .5em
    transition $transition
    &:hover
      color $primary
    // linkHover($primary)
    // &:before
    //   bottom 0
  &__link
    linkHover($primary)
  &:hover
    .new
      &__img
        img
          transform none



.news-detail
  &__title
    font-size 3.2rem
    line-height (40 / 32)
    margin-bottom .5em
  .specialist
    // display flex
    &__photo
      border-radius 50%
      flex-shrink 0
      margin-bottom 1.6rem
      overflow hidden
      size(8rem)
    &__name
      font-size 1.4rem
    &__status
      font-size 1.2rem
  &__views
    color $gray
    font-size 1.4rem
  &__share
    color $gray
    font-size 1.4rem
    margin-bottom .5em


@media(max-width 1000px)
  .news-detail
    &__left
      order 10


@media(max-width 767px)
  .new
    display block
    padding 1.6rem 0
    &__img
      margin-bottom 2.4rem
      margin-right 0
      width 100%
      &:not(.new__img_noimage)
        display block
        justify-content initial
        height 24rem
        img
          object-fit cover
          height 100%
    &__title
      font-size 1.6rem
    &__anons
      margin-bottom 1em
    &__date
      font-size 1.2rem
    &__link
      display none




