.service-page
  display grid
  grid-template-areas "left" "right"
  grid-template-columns 20% 80%
  margin-bottom 8rem
  &__right
    h2
      margin-top -.4em
    blockquote
      margin-top -.4em
    strong
      margin-top -.4em
    h4
      margin-top -.5em
  &_itog
    .service-page
      &__left
        padding-top 8rem
      &__right
        border-top 3px solid $primary
        padding-top 8rem


@media(max-width 1200px)
  .service-page
    display block
    margin-bottom 3.2rem
    &__right
      h2
        margin-top 0
      blockquote
        font-size 2rem
        margin-top 0
        &:before
          display block
          margin-left -4px
          position initial
      strong
        margin-top 0
      h4
        margin-top 0
    &_itog
      .service-page
        &__right
          padding-top 3.2rem