.sitemap-links
  margin-bottom 2em

.sitemap
  &__link
    display block
    margin-bottom 1.5em
    a
      linkHover($primary)
    &_big
      font-size 2.4rem
    &_disable
      color $gray




@media(max-width 1200px)
  .sitemap
    &__link
      margin-bottom 1em
      a
        font-size 1.4rem
      &_big
        margin-bottom .5em
        a
          font-size 2.4rem


@media(max-width 767px)
  .sitemap-links
    grid-row-gap .5em





