.cookie
  align-items center
  background-color #fff
  box-shadow 0px 0px 108px rgba(0, 0, 0, 0.25)
  border-radius 2rem
  bottom .8rem
  display: flex
  // left 1.6rem
  justify-content: space-between
  left .8rem
  overflow hidden 
  padding: .8rem
  position fixed
  right .8rem
  // max-width 34rem
  width: calc(100% -1.6rem)
  z-index 100
  &__text
    margin-bottom 0
  .btn
    margin 0
  &_hide
    display none

@media(min-width: 1200px)
  .cookie
    padding: 1.6rem