.document
  background-color #f8f8f8
  align-items center
  display flex
  height 100%
  flex-direction column
  // min-width 40rem
  position relative
  // padding 4.8rem 2rem
  padding 3.2rem 2.4rem
  transition $transition
  &:before
    background-color $light-gray - 2%
    content ''
    height 100%
    left 0
    position absolute
    top 0
    transition $transition
    width 0
    z-index 0
  &__company
    align-items center
    display flex
    font-size 1.4rem
    font-weight 700
    line-height 1.4
    min-height 4rem
    margin-bottom 1.6rem
    position relative
    text-transform uppercase
    transition $transition
    text-align center
    z-index 10
  &__img
    align-items center
    display flex
    height 30rem
    justify-content center
    margin-bottom 4rem
    max-width 20rem
    position relative
    width 100%
    z-index 10
    img
      display block
      // object-fit contain
      // height 100%
      width 100%
  &__description
    align-items center
    display flex
    line-height 1.2
    min-height 4rem
    // margin-bottom .8rem
    position relative
    text-align center
    z-index 10
  &:hover
    background-color $light-gray - 2%
    &:before
      width 100%
    .document
      &__company
        color $primary


.slider-scroll
  .document
    min-width 40rem


@media(max-width 1200px)
  .document
    min-width 24rem
    padding 2.4rem 2.4rem
    &__company
      margin-bottom 1.2rem
    &__img
      margin-bottom 2rem
      height 24rem
      width 16rem
      // max-width initial
      // img
        

  .slider-scroll
    .document
      min-width 24rem




















