.footer
  padding 8rem 0
  &__link
    font-size 1.6rem
    margin-bottom 1.2em
    position relative
    transition $transition
    a
      display block
      transition $transition
      linkHover($primary)
  &__phone
    display block
    font-size 4rem
    font-weight 500
    margin-bottom .75em
  &__mail
    display block
    font-size 2.4rem
    margin-bottom 1.5em
    linkHover($primary)
  &__bottom
    align-items center
    border-top $border
    display flex
    justify-content space-between
    margin-top 12rem
    padding-top 3.2rem

.copyright
  flex-shrink 0
  width 33%

.disclamer
  opacity .3
  margin-bottom 0
  text-align center
  width 33%



@media(max-width 1000px)
  .footer
    &__bottom
      font-size 1.4rem
  .disclamer
    font-size 1.4rem


@media(max-width 767px)
  .footer
    padding 4rem 0
    &__bottom
      display block
      margin-top 1.6rem
    &__link
      font-size 1.4rem
      margin-bottom 1em
    .logo
      svg
        #logo-sub
          display none
    &__phone
      font-size 3.2rem
  .copyright,
  .disclamer
    margin-bottom 1em
    text-align left
    width 100%








