.header
  background-color #fff
  left 0
  margin-bottom 5rem
  position sticky
  top 0
  width 100%
  z-index 100
  &__progress
    background-color $primary
    height 2px
    left 0
    position absolute
    top 0
    width 0
  &__container
    align-items center
    display flex
    justify-content space-between
    // padding-bottom 1.2rem
    // padding-top 1.2rem
    transition $transition2
  &__left
    align-items center
    display flex
  &__right
    align-items center
    display flex
  .logo
    flex-shrink 0
    max-width 148px
    margin-right 2.4em
    img
      width 100%
  &__search
    align-items center
    cursor pointer
    display flex
    justify-content center
    margin-right 1em
    position relative
    size(4rem)
    &:before
      background-color #eee
      content ''
      border-radius 50%
      left 0
      transition $transition
      transform scale(0)
      top 0
      position absolute
      size(4rem)
      z-index -1
    &:hover
      &:before
        transform none
  &__phone
    font-size 1.4rem
    margin-right 1.5em
  &__btn
    background-color transparent
    border-radius $radius
    color $primary
    font-size 1.4rem
    margin-right 1.4rem
    padding 1rem 1rem 1.3rem
    position relative
    transition $transition
    &_sign
      margin-right -.8rem
    &:hover
      background-color rgba($primary, .05)
  // &_mobile-menu-open
  //   .logo
  //     display none
  //   .header
  //     &__btn
  //       display none

.blind-btn
  display flex
  margin-right 1.5em
  img
    margin-right 4px
  &-link
    font-size 1.4rem


.nav
  display flex
  &__link
    // position relative
    padding 1.2rem 0
    transition $transition
    // width 100%
    &:not(:last-child)
      margin-right 1.5em
    & > a
      color $main
      display flex
      font-size 1.4rem
      padding 2.4rem 0
      // position relative
      linkHover($primary)
      &:before
        background-color $primary
        bottom -11px
        z-index 20
      &:after
        // background-color teal
        background-color transparent
        content ''
        left -10%
        height 132%
        position absolute
        top -16%
        width 120%
        z-index 0
    &:hover
      & > a
        color $primary
        &:before
          width 100%
      .dropdown
        opacity 1
        pointer-events initial
        &__link
          opacity 1
          transform none



.burger
  align-items center
  // background-color teal
  display none
  position relative
  size(3.2rem)
  transition $transition
  // transform translateY(-6px)
  // width 3.2rem
  &:before,
  &:after
    background-color $main
    content ''
    height 2px
    position absolute
    top 10px
    transition all .3s ease
    width 3.2rem
  &:after
    top 18px
  &_active
    transform translate(8px, -4px)
    &:before
      transform rotate(45deg) translateY(6px)
      width 2.4rem
    &:after
      transform rotate(-45deg) translateY(-6px)
      width 2.4rem





.mobile-menu
  background-color #fff
  left -100%
  // left 0
  overflow scroll
  position fixed
  size(100%)
  top 0
  transition $transition2
  z-index 200
  &__container
    opacity 0
    padding 4rem 2.4rem
    transition $transition2
    transform translateY(4rem)
    transition-delay .3s
    &_orange
      background-color #FBF6F3
  &__nav
    margin-bottom 1.5em
  &__link
    color $gray-text
    font-size 1.4rem
    font-weight 400
    margin-bottom 1em
    opacity 0
    // transition $transition2
    transition opacity 1s cubic-bezier(0.4, 0, 0, 1), transform 1s cubic-bezier(0.4, 0, 0, 1)
    transform translateY(2em)
    itemsDelay(1)
    &_big
      color $main
      font-size 2.4rem
      margin-bottom 1em
  &__buttons
    margin-bottom 3.2rem
  &__btn
    color $primary
    font-size 1.4rem
    itemsDelay(2)
    margin-bottom 1em
    transition $transition2
  .form-control
    input
      font-size 1.4rem
      padding 1.6rem 2rem 1.8rem
  &__phone
    font-size 1.4rem
    margin-bottom 1em
    margin-right .5em
  &__mail
    margin-bottom 1em
    a
      font-size 1.4rem
      color $primary
  &__close
    cursor pointer
    opacity 0
    padding .8rem
    position fixed
    pointer-events none
    transition $transition
    right 2.8rem
    top 2.8rem
    z-index 10
  .socials
    margin-bottom 2.4rem
    position relative
    z-index 10
    .social
      &:before,
      &:after
        background-color #fff
  &_active
    left 0
    .mobile-menu
      &__container
        opacity 1
        transform none
      &__link
        opacity 1
        transform none
      &__close
        opacity 1
        pointer-events initial
      &__link
        opacity 1
        transform none




@media(max-width 1440px)
  .header
    .logo
      margin-right 1.6rem
      max-width 13rem
    &__search
      margin-right 1em
    .blind-btn
      margin-right 1em
    &__phone
      margin-right 1em
    &__btn
      margin-right .6rem
      &_sign
        margin-right 0
  .nav
    &__link
      &:not(:last-child)
        margin-right 1em



@media(max-width 1200px)
  .header
    margin-bottom 3.2rem
    padding 1.2rem 0
    // .logo
    //   max-width 12rem
    &__search
      display none
    .blind-btn
      display none
    &__btn
      &_sign
        margin-right 1.6rem
    .burger
      // display block
      display flex
  .nav
    display none


@media(max-width 767px)
  .header
    margin-bottom 3.2rem
    .logo
      max-width 12rem
    &__btn
      &_payment
        display none
    &__phone
      display none