

.hero
  &__wrapper
    overflow hidden
    &:hover
      .hero
        &__container
          animation-play-state paused
  &__parallax
    display flex
  &__container
    animation hero 70s infinite linear
    // animation hero 5s infinite linear
    display flex
  .specialist
    margin-right 3.2rem


@keyframes hero
  0%
    transform translateX(0)
  100%
    transform translateX(-100%)