.hero
  &__wrapper
    overflow hidden
    &:hover
      .hero
        &__container
          animation-play-state paused
  &__parallax
    display flex
  &__container
    animation hero 70s infinite linear
    // animation hero 5s infinite linear
    display flex
  .specialist
    margin-right 3.2rem
    &__photo
      min-width 35rem


@keyframes hero
  0%
    transform translateX(0)
  100%
    transform translateX(-100%)



@media(max-width 1200px)
  .hero
    .specialist
      margin-right 1.2rem
      &__photo
        margin-bottom 1.6rem
        min-width 28rem
      &__name
        font-size 1.4rem
      &__status
        font-size 1.2rem