.slider
  position relative

.swiper
  &-wrapper
    transition-timing-function cubic-bezier(.16,1.08,.38,.98)
  &-pagination
    // margin-top 4rem
    margin-bottom 2.4rem
    position initial
    transform translateY(2.4rem)
    &-bullet
      background-color #ddd
      opacity 1
      margin 0 1rem !important
      &-active
        background-color $primary
  &-button-prev,
  &-button-next
    bottom 0
    justify-content center
    margin-top 0
    margin auto
    top 0
    // circleHover(4.8rem, #fff, $primary)
    transition $transition
    &:before
      display none
      font-family $font
      font-size 0
    &:after
      background-color $primary
      display none
    &:hover
      opacity .5
    img
      transition $transition
    // &:hover
    //   img
    //     filter invert(100%)
  &-button-prev
    left -3.2rem
  &-button-next
    right -3.2rem
  &-slide
    opacity 0
    transform translateX(8rem)
    transition transform 2s cubic-bezier(.16,1.08,.38,.98), opacity 2s cubic-bezier(.16,1.08,.38,.98)
    // for num in 1..6
    //   &:nth-child({num})
    //     transition-delay (num/10) s
  &-container.animated
    .swiper
      &-slide
        opacity 1
        transform none


@media(max-width 1200px)
  .swiper
    &-button-prev
    &-button-next
      display none


// @media(max-width 1200px)
//   .swiper
//     &-button-prev
//       left 0
//     &-button-next
//       right 0
//   .tracks
//     .swiper
//       &-buttons-container
//         display none