.tabs
  &__header
    border-bottom $border
    display flex
    margin-bottom 4rem
    position relative
  &__link
    align-items center
    cursor pointer
    display flex
    justify-content center
    padding 1em 0
    padding-top 0
    position relative
    text-align center
    linkHover($primary)
    &:before
      background-color $primary
      bottom -1px
    &_active
      color $primary
      &:before
        width 100%
    &:not(:last-child)
      margin-right 2em

  &__content
    display none
    img
      max-width 100%
    &_active
      animation tabs .4s ease
      display block

@keyframes tabs
  from
    opacity 0
    transform translateY(.5rem)
  to
    opacity 1
    transform none



@media(max-width 1200px)
  .tabs
    &__link
      font-size 1.4rem
      &:not(:last-child)
        margin-right 1em



@media(max-width 767px)
  .tabs
    &__header
      overflow-x scroll
      padding 0 2.4rem
      overflow-y hidden
      margin-left -2.4rem
      margin-right -2.4rem
      -webkit-overflow-scrolling touch
    &__content
      padding 0
    &__link
      flex-shrink 0
      font-size 1.2rem
      margin-right 2em
      position relative

