extends layout.pug

block content
  main.content
    .wrapper
      section.section
        .inner-block
          .inner-block__left
            .inner-header
              h1.inner-header__title Ошибка 404
              p.inner-header__p Этой страницы не существует, как и проблем, которые нельзя решить. Нужно лишь сделать первый шаг. Вы можете вернуться на 
                a(href="") главную
                |  или посмотреть 
                a(href="") услуги
                |  .



