extends layout.pug

block content
  main.content
    .wrapper
      section.section
        .inner-block
          .inner-block__left
            .inner-header.wow
              h1.inner-header__title О клинике
              //- p.inner-header__p Специалисты нашей клиники используют как медикаментозные, так и немедикаментозные методы лечения, в том числе различные методы психотерапевтического и физиотерапевтического  лечения. Все программы основаны на современных достижениях медицинской науки.  У нас работают кандидаты медицинских наук, врачи высшей категории, имеющие большой и успешный практический опыт.
              //- p.inner-header__sub Работаем с 2014 года
              //- strong У нас вы можете получить консультацию:
              //- ul
              //-   li психиатра
              //-   li психотерапевта
              //-   li психолога
              //-   li консультанта по детскому сну
              //-   li невролога и эпилептолога
              //-   li мануального терапевта и остеопата
              //-   li врача функциональной диагностики

        .about-top
          .container.about-top__container
            .col.col--lg-6
              p Специалисты нашей клиники используют как медикаментозные, так и немедикаментозные методы лечения, в том числе различные методы психотерапевтического и физиотерапевтического  лечения. Все программы основаны на современных достижениях медицинской науки.  У нас работают кандидаты медицинских наук, врачи высшей категории, имеющие большой и успешный практический опыт.
              p Работаем с 2014 года
              strong У нас вы можете получить консультацию:
              ul
                li психиатра
                li психотерапевта
                li психолога
                li консультанта по детскому сну
                li невролога и эпилептолога
                li мануального терапевта и остеопата
                li врача функциональной диагностики
            .col.col--lg-1.dn-lg
            .col.col--lg-5
              .about-top__img
                +webp('about-page-img', 'jpg')
              .about-top__slogan Выбирая нас — вы выбираете профессионалов

      section.quote-slider.section
        .quote-slider__container
          .quote.quote_active
            .quote__bg
            .quote__text Лечим все виды психических неврологических расстройств. Помогам людям всех возрастов: от малышей до людей пожилого возраста.
            .quote__img
              img(src="./img/quote-1.png", alt="")
            .quote__person
              .quote__name Данилова Екатерина Владимировна
              .quote__position Невролог-эпилептолог <br> Врач высшей категории 
            .quote__next
              svg(height="74" width="74").quote__progress
                circle(cx="37" cy="37" r="36" stroke="white" stroke-width="2")
              img(src="./img/quote-arrow.svg", alt="")
          
          .quote
            .quote__bg
            .quote__text Детские психологи помогут вашему ребенку справится со страхами, трудностями в общении и обучении, чрезмерной агрессией, расстройствами питания.
            .quote__img
              img(src="./img/quote-2.png", alt="")
            .quote__person
              .quote__name Данилова Екатерина Владимировна
              .quote__position Невролог-эпилептолог <br> Врач высшей категории 
            .quote__next
              svg(height="74" width="74").quote__progress
                circle(cx="37" cy="37" r="36" stroke="white" stroke-width="2")
              img(src="./img/quote-arrow.svg", alt="")

          .quote
            .quote__bg
            .quote__text Детские психологи помогут вашему ребенку справится со страхами, трудностями в общении и обучении, чрезмерной агрессией, расстройствами питания.
            .quote__img
              img(src="./img/quote-3.png", alt="")
            .quote__person
              .quote__name Данилова Екатерина Владимировна
              .quote__position Невролог-эпилептолог <br> Врач высшей категории 
            .quote__next
              svg(height="74" width="74").quote__progress
                circle(cx="37" cy="37" r="36" stroke="white" stroke-width="2")
              img(src="./img/quote-arrow.svg", alt="")


      section.section
        .container
          .col.col--xxl-1.dn-xxl
          .col.col--xxl-4.col--sm-6
            p Наши специалисты с медицинским и психоаналитическим образованием, окажут психологическую помощь.
            p Детские психологи помогут вашему ребенку справится со страхами, трудностями в общении и обучении, чрезмерной агрессией, расстройствами питания и другими сложностями, возникающими у детей и подростков.
          .col.col--xxl-1.dn-xxl
          .col.col--xxl-4.col--sm-6
            p Наши специалисты с медицинским и психоаналитическим образованием, окажут психологическую помощь.
            p Детские психологи помогут вашему ребенку справится со страхами, трудностями в общении и обучении, чрезмерной агрессией, расстройствами питания и другими сложностями, возникающими у детей и подростков.
      
      
    section.section.effect
      .effect__wrapper
        .effect__column
          .effect__item.effect__item_small
            .effect__img
              +webp('about/7', 'jpg')
            .effect__text Холлы клиники
          .effect__item.effect__item_horizontal
            .effect__img
              +webp('about/4', 'jpg')
            .effect__text Кабинет групповой терапии
          .effect__item.effect__item_vertical
            .effect__img
              +webp('about/1', 'jpg')
            .effect__text Демьянов Иван Александрович и его семья
        .effect__column
          .effect__item
            .effect__img
              +webp('about/2', 'jpg')
            .effect__text Взрослая терапия
          .effect__item.effect__item_square
            .effect__img
              +webp('about/3', 'jpg')
            .effect__text Детский кабинет
        .effect__column
          .effect__item
            .effect__img
              +webp('about/5', 'jpg')
            .effect__text some
          .effect__item.effect__item_horizontal.effect__item_horizontal-bottom
            .effect__img
              +webp('about/4', 'jpg')
            .effect__text Александрова Людмила Александровна, Носенко Олеся Владимировна и Данилова Екатерина Владимировна
        .effect__column
          .effect__item
            .effect__img
              +webp('about/2', 'jpg')
            .effect__text some
          .effect__item.effect__item_square
            .effect__img
              +webp('about/3', 'jpg')
            .effect__text some


    section.section
      .wrapper
        .label Структура
        h2 У нас 4 отделения
        .container
          - for (var i = 0; i < 4; i++)
            .col.col--sm-3
              .structure
                .structure__name Взрослое
                .structure__count 8 специалистов




    section.about-photos
      .wrapper
        .container.about-photos__texts
          .col.col--xl-1.dn-xl
          .col.col--xl-6.col--sm-7
            h3.about-photos__title Центр профессиональной психотерапии, психоневрологический центр.
            p.about-photos__text Специалисты нашей клиники используют как медикаментозные, так и немедикаментозные методы лечения, в том числе различные методы психотерапевтического и физиотерапевтического  лечения. Все программы основаны на современных достижениях медицинской науки.  У нас работают кандидаты медицинских наук, врачи высшей категории, имеющие большой и успешный практический опыт.
          .col.col--xl-1.col--sm-1
          .col.col--xl-3.col--sm-4
            .about-photos__blockquote
              .about-photos__blockquote-text «Из любой ситуации есть выход! Мы лишь поможем вам найти его. Доверьтесь профессионалам с большим стажем»
              a(href="").specialist
                .specialist__photo
                  +webp('specialists/1', 'jpg')
                  .specialist__photo-hover
                    +webp('specialists/1-hover', 'jpg')
                .specialist__container
                  .specialist__name Шелудько Михаил Васильевич
                  .specialist__status-container
                    .specialist__status Психиатр-психотерапевт
                    .specialist__status Кандидат медицинских наук
                    .specialist__status Член Российского общества психиатров

        .container
          .col.col--sm-6
            .about-photos__item
              +webp('about-photos-1', 'jpg')
          .col.col--sm-6
            .about-photos__item
              +webp('about-photos-2', 'jpg')
            .about-photos__item
              +webp('about-photos-3', 'jpg')











