extends layout.pug

block content
  main.content
    .wrapper
      section.section
        .inner-block
          .inner-block__left
            .inner-header.inner-header_bordered.wow
              h1.inner-header__title Часто спрашивают
              p.inner-header__p Если вы не нашли ответ на свой вопрос, то вы можете проконсультироваться с нашим администратором по телефону +7 (918) 451-48-43 или написав нам в 
                a(href="") WhatsApp

            .container
              .col.col--sm-3
                .faq-links
                  .faq-links__container
                    .faq-link.faq-link_active Лечение
                    .faq-link Оплата
                    .faq-link Клиника
                    .faq-link Специалисты
                    .faq-link Режимы работы
                    .faq-link Онлайн-оплата
              .col.col--sm-9
                .faqs.faqs_active
                  - var faqTitles1 = ['Могу я оставить в секрете от всех, что я посещаю клинику?', 'Если мне выпишут таблетки, это навсегда?', 'А какой доктор у вас лучший?', 'Можно ли проводить сеансы по скайпу?', 'Можно ли посещать сеансы не одному? С женой, мужем, другом или кем-то другим?', 'Сколько раз надо ходить на сеансы и как часто?', 'Смогу ли излечиться полностью?', 'Если меня запишут к специалисту и я захочу в дальнейшем общаться с другим, возможно поменять?']
                  - for (var a = 0; a < 4; a++)
                    .faq
                      .faq__container
                        .faq__top
                          .faq__title= faqTitles1[a]
                          .faq__arrow
                            img(src="./img/faq-arrow.svg", alt="")
                        .faq__text
                          p Поведенческая терапия противоречиво отталкивает эскапизм. Интроекция последовательно отчуждает генезис, что вызвало развитие функционализма и сравнительно-психологических исследований поведения. Однако Э.Дюркгейм утверждал, что самоактуализация психологически отталкивает потребительский генезис. Код интуитивно понятен. Наши исследования позволяют сделать вывод о том, что самонаблюдение отталкивает депрессивный субъект, также это подчеркивается в труде Дж.Морено «Театр Спонтанности».

                .faqs
                  - var faqTitles = ['Могу я оставить в секрете от всех, что я посещаю клинику?', 'Если мне выпишут таблетки, это навсегда?', 'А какой доктор у вас лучший?', 'Можно ли проводить сеансы по скайпу?', 'Можно ли посещать сеансы не одному? С женой, мужем, другом или кем-то другим?', 'Сколько раз надо ходить на сеансы и как часто?', 'Смогу ли излечиться полностью?', 'Если меня запишут к специалисту и я захочу в дальнейшем общаться с другим, возможно поменять?']
                  - for (var i = 0; i < 7; i++)
                    .faq
                      .faq__container
                        .faq__top
                          .faq__title= faqTitles[i]
                          .faq__arrow
                            img(src="./img/faq-arrow.svg", alt="")
                        .faq__text
                          p Поведенческая терапия противоречиво отталкивает эскапизм. Интроекция последовательно отчуждает генезис, что вызвало развитие функционализма и сравнительно-психологических исследований поведения. Однако Э.Дюркгейм утверждал, что самоактуализация психологически отталкивает потребительский генезис. Код интуитивно понятен. Наши исследования позволяют сделать вывод о том, что самонаблюдение отталкивает депрессивный субъект, также это подчеркивается в труде Дж.Морено «Театр Спонтанности».


          .inner-block__right
            a(href="").sticky-btn
              .sticky-btn__text-container
                .sticky-btn__text Спросить в Whatsapp
              .sticky-btn__icon
                img(src="./img/sticky-whatsapp.svg", alt="")








