.form.wow(class=formClass ? 'form_sign-page' : '')
  .wrapper
    .form__container
      .form__left
        form
          .form-control
            .form-control__label Как вас зовут?
            input(type="text" placeholder="Иванов Иван Иванович")
          .form-control
            .form-control__label Телефон
            input(type="tel").phone-mask
          .form-control
            .form-control__label Тип записи
            select.custom-select
              option Консультация по медикаментам
              option Психотерапия
          .form-control
            .form-control__label К какому специалисту?
            select.custom-select
              option Александрова Людмила Александровна
              option Александрова Людмила Александровна
              option Александрова Людмила Александровна
          .container
            .col.col--sm-8
              .form-control
                .form-control__label Когда
                input(type="text" placeholder="28.03.2020")
            .col.col--sm-4
              .form-control
                .form-control__label Во сколько
                input(type="text" placeholder="17:00")
          small Нажимая кнопку «Записаться» я соглашаюсь на 
            a(href="") обработку моих персональных данных
          .btn
            .btn__text Записаться
          

      .form__right
        .form-message
          .form-message__text.form-message__text_first
            p Здравствуйте, меня зовут Анастасия. Я администратор клиники Глазуновой.
          .form-message__text.form-message__text_loading
            img(src="./img/message-icon.svg", alt="").svg
          .form-message__text.form-message__text_second
            p К какому специалисту вас записать?
        .form__person
          img(src="./img/admin.jpg", alt="")