extends layout.pug

block content
  

  .wrapper
    .index-texts
      h1.index-texts__title Клиника Глазуновой
      p.index-texts__subtitle Центр профессиональной психотерапии, психоневрологический центр. У нас работают только дипломированные врачи, работающие по европейским клинически подтверждённым методикам
  section.hero.section
    .hero__wrapper
      .hero__parallax
        .hero__container
          - var specialists = ['Шелудько Михаил Васильевич', 'Демьянов Иван Александрович', 'Александрова Людмила Александровна', 'Брижак (Наджарьян) Сусанна Сергеевна', 'Иванов Иван Иванович', 'Данилова Екатерина Владимировна']
          - for (var i = 1; i < 7; i++)
              a(href="").specialist
                .specialist__photo
                  +webp('specialists/' + i, 'jpg')
                  .specialist__photo-hover
                    +webp('specialists/' + i + '-hover', 'jpg')
                .specialist__container
                  .specialist__name= specialists[i - 1]
                  .specialist__status-container
                    .specialist__status Психиатр-психотерапевт
                    .specialist__status Кандидат медицинских наук
                    .specialist__status Член Российского общества психиатров


  section.about-section.section
    .wrapper
      .container
        .col.col--sm-6
          .label О клинике
          .about-section__title Более 30 квалифицированных специалистов разберут индивидуально ваш случай и подберут лечение. Мы работаем почти со всеми видами психологических проблем. 
          p.about-section__text Центр профессиональной психотерапии, психоневрологический центр. У нас работают только дипломированные врачи, работающие по европейским клинически подтверждённым методикам.
          .btn
            .btn__text Подробнее о клинике
        .col.col--sm-1
        .col.col--sm-5
          .about-section__img
            +webp('clinic', 'jpg')
  

  section.blockquote-section.section
    .wrapper
      .blockquote
        .blockquote__title «Из любой ситуации есть выход! Мы лишь поможем вам найти его. Доверьтесь профессионалам с большим стажем»
        .blockquote__person
          .blockquote__name Глазунова Татьяна Ивановна
          .blockquote__status-container
            .blockquote__status Главный врач Клиники
            .blockquote__status Психиатр-психотерапевт
            .blockquote__status Член Российского общества психиатров

  section.section
    .wrapper
      .container
        .col.col--sm-6
          .prem.prem_static
            .prem__img
              +webp('prem', 'jpg')
            .prem__top
              .prem__title Профессиональная терапия
            .prem__bottom
              p.prem__text Если вы хотите чтобы ваше посещение сеансов осталось неизвестным для других, то это не проблема.
        .col.col--sm-6
          .prem.prem_animate
            .prem__top
              .prem__title Конфиденциальность
              .prem__title Дипломированные специалисты
              .prem__title Европейские методики
            .prem__bottom
              p.prem__text Если вы хотите чтобы ваше посещение сеансов осталось неизвестным для других, то это не проблема.

  include form-block.pug