<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
  link(rel="stylesheet", href="./styles/css/milligram.css")
body
  .container
    h1 Список страниц
    ul
      li: a(href="./index.html") Главная
      li: a(href="./service-detail.html") Услуга детальная
      li: a(href="./services.html") Услуги
      li: a(href="./contacts.html") Контакты
      li: a(href="./price.html") Стоимость услуг
      li: a(href="./sign.html") Записаться на приём
      li: a(href="./documents.html") Лицензии и документы
      li: a(href="./about.html") О нас
      li: a(href="./privacy.html") Политика конфиденциальности
      li: a(href="./faq.html") Частые вопросы
      li: a(href="./online-payment.html") Онлайн-оплата
      li: a(href="./specialists.html") Наши специалисты
      li: a(href="./specialist.html") Специалист детальная
      li: a(href="./sitemap.html") Карта сайта
      li: a(href="./vacancies.html") Вакансии
      li: a(href="./reviews.html") Отзывы
      li: a(href="./reviews-send.html") Отправить отзыв
      li: a(href="./search.html") Поиск
      li: a(href="./404.html") 404





