section.pagination.section
  a(href="").pagination__prev предыдущая страница
  .pagination__numbers
    a(href="").pagination__number 1
    a(href="").pagination__number.pagination__number_active 2
    a(href="").pagination__number 3
    a(href="").pagination__number 4
    .pagination__number.pagination__number_disabled ...
    a(href="").pagination__number 10
  a(href="").pagination__next следующая страница
