extends layout.pug

block content
  main.content
    .wrapper
      section.section
        .inner-block
          .inner-block__left
            .inner-header.wow
              .inner-header__label Согласие на обработку персональных данных
              h1.inner-header__title Политика конфиденциальности


        .container
          .col.col--sm-8
            strong Полный текст
            p Настоящим, я (далее — Лицо), даю свое согласие компании «Sunmedia» юридическое название Индивидуальный Предприниматель Крючков Егор Владимирович, ИНН 524911598075 (далее — Компания) на обработку своих персональных данных, указанных при оформлении заявки на сайте Компании для обработки моего заказа, заявки или любого другого способа обращения в Компанию (далее Заказ), и коммуникации со мной в рамках обработки моего Заказа, а также иных сопряженных с этим целей в рамках действующего законодательства РФ и технических возможностей Компании.
          .col.col--sm-1
          .col.col--sm-3
            strong Суть
            p Здравствуйте, это сайт Клиники Глазуновой
          .col.col--sm-8
            p Обработка персональных данных Лица может осуществляться с помощью средств автоматизации и/или без использования средств автоматизации в соответствии с действующим законодательством РФ и положениями Компании. Настоящее согласие Лица на обработку его/ее персональных данных, указанных при оформлении Заказа на сайте Компании, направляемых (заполненных) с использованием настоящего сайта, действует с момента оформления Заказа на сайте Компании до момента его отзыва. Согласие на обработку персональных данных, указанных при оформлении Заказа на сайте Компании, направляемых (заполненных) с использованием настоящего сайта, может быть отозвано Лицом при подаче письменного заявления (отзыва) в Компанию. Обработка персональных данных Лица прекращается в течение 2 месяцев с момента получения Компанией письменного заявления (отзыва) Лица и/или в случае достижения цели обработки и уничтожается в срок и на условиях, установленных законом, если не предусмотрено иное. Обезличенные персональные данные Лица могут использоваться Компанией в статистических (и иных исследовательских целей) после получения заявления (отзыва) согласия, а также после достижения целей, для которых настоящее согласие было получено.
            p Данный сайт позволяет Компании получать информацию, содержащую персональные данные Лица, а именно фамилия имя отчество, контактный телефон, адрес электронной почты, а также другие персональные данные, которые могут использоваться для идентификации Лица («Ваши персонал ак cookie-файл. Сookie-файл — это сообщение, которое веб-сервер высылает на компьютер Лица, когда Лицо заходит на сайт. При повторном посещении, наш сайт проверит, имеется ли на компьютере Лица один из наших сookie-файлов. Наши cookie-файлы увеличивают функциональность сайта и помогают нам более точно анализировать, как используется сайт.
          .col.col--sm-1
          .col.col--sm-3
            p В настоящей Политике конфиденциальности разъясняются различные виды данных, которые мы получаем от вас при помощи нашего сайта. Мы полностью соблюдаем законы о конфиденциальности.
          .col.col--sm-8
            p Данный сайт использует адреса Интернет-протокола (IP). IP-адрес — это номер, присваиваемый компьютеру Интернет-провайдером для доступа к Интернету. Обычно IP-адрес изменяется всякий раз, когда вы входите в Интернет (это«динамичный» адрес). Тем не менее, если используется высокоскоростное соединение, в зависимости от обстоятельств, возможно, что IP-адрес или даже cookie-файл, который мы используем, содержит идентифицируемую информацию. Это происходит потому, что при некоторых видах высокоскоростного соединения Ваш IP-адрес не изменяется («статичен») и может ассоциироваться с компьютером Лица. Мы используем IP-адрес Лица для сообщения общей информации по использованию сайта, а также для его доработки.
            p Данный сайт использует технологию для определения местоположения Лица.
            p Лицо обязано покинуть данный сайт, если не хочет, чтобы вышеперечисленные данные (cookie, данные об IP-адресе и местоположении) обрабатывались.
            p Данный сайт не предназначен для лиц моложе 18 лет. Мы не собираем персональные данные лиц, которые по имеющейся у нас информации не достигли 18-летнего возраста. На данном сайте, где собирается информация, используется стандартное шифрование протокола защиты информации (SSL). Тем не менее, чтобы воспользоваться этой опцией, браузер должен поддерживать криптографическое закрытие (начиная с версии Internet Explorer 3.0 и далее). ИП Крючков Егор Владимирович оставляет за собой право предоставлять информацию государственным органам при соответствующих запросах или в случаях, предусмотренных законодательством.
            p Для удаления информации о Лице из наших контактных списков, необходимо обращаться по следующему адресу: Студия «Sunmedia»: 350000, г. Краснодар, ул. Красных Партизан, 194, 202А, тел.: +7 (996) 410-78-01 или по е-mail: info@sun-media.ru
            p Лицо может продолжать получать материалы, пока ведется обновление наших списков. Периодически Правила конфиденциальности веб-сайта могут обновляться. После обновления данные правила будут доступны на настоящей странице.
            p Настоящее согласие дано мной сроком на 25 лет.
          .col.col--sm-1
          .col.col--sm-3
            p Здесь что-то ещё






