extends layout.pug

block content
  main.content
    .wrapper
      section.section
        .inner-block
          .inner-block__left
            .inner-header
              h1.inner-header__title Отзывы
            
              .reviews-websites
                .review-website
                  .review-website__name ProDoctorov.ru
                  .review__stars
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="").review__star-disabled
                .review-website
                  .review-website__name Doctu.ru
                  .review__stars
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                .review-website
                  .review-website__name Yomed.ru
                  .review__stars
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star-half.svg", alt="")

            .tabs
              .tabs__header
                a(href="./reviews.html").tabs__link.tabs__link_active Отзывы
                a(href="./reviews-send.html").tabs__link Оставить отзыв
            
            section.section.reviews
              .review
                .review__left
                  .review__name Иванов Александр Иванович
                  .date.review__date 28.04.2020
                .review__center
                  p Автоматизм, в представлении Морено, дает эмпирический аутотренинг. Роджерс определял терапию как, гетерогенность откровенна. Мышление параллельно. Парадигма, например, просветляет инсайт. Лидерство выбирает эриксоновский гипноз.
                  p Предсознательное косвенно. Субъект притягивает эскапизм. Апперцепция выбирает инсайт.
                  .review__stars
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star-half.svg", alt="")
                .review__right
                  .review__img
                    +webp('prodoctorov', 'png')
              .review
                .review__left
                  .review__name Иванов Александр Иванович
                  .date.review__date 28.04.2020
                .review__center
                  p Автоматизм, в представлении Морено, дает эмпирический аутотренинг. Роджерс определял терапию как, гетерогенность откровенна. Мышление параллельно. Парадигма, например, просветляет инсайт. Лидерство выбирает эриксоновский гипноз.
                  p Предсознательное косвенно. Субъект притягивает эскапизм. Апперцепция выбирает инсайт.
                  .review__stars
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star-half.svg", alt="")
                .review__right
                  .review__img
                    +webp('yomed', 'png')
              .review
                .review__left
                  .review__name Иванов Александр Иванович
                  .date.review__date 28.04.2020
                .review__center
                  p Автоматизм, в представлении Морено, дает эмпирический аутотренинг. Роджерс определял терапию как, гетерогенность откровенна. Мышление параллельно. Парадигма, например, просветляет инсайт. Лидерство выбирает эриксоновский гипноз.
                  p Предсознательное косвенно. Субъект притягивает эскапизм. Апперцепция выбирает инсайт.
                  .review__stars
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star.svg", alt="")
                    img(src="./img/star-half.svg", alt="")
                .review__right
                  .review__img
                    +webp('doctu', 'png')


            include pagination.pug




