extends layout.pug

block content
  main.content
    .wrapper
      section.section
        .inner-block
          .inner-block__left
            .inner-header.inner-header_bordered.wow
              h1.inner-header__title Психотерапия детей и&nbsp;подростков
              p.inner-header__p Для быстрого и комфортного  восстановления сил организма после стрессов, общих заболеваний; помогает справиться с депрессией, хронической или физической усталостью, расстройством сна, лишний весом
              .inner-header__subs
                .inner-header__sub Первый приём — 4 000 руб.
                .inner-header__sub Последующие — 2 000 руб.
                .inner-header__sub Обязательная предоплата — 50%
            
            .service-page
              .service-page__left
                .label О терапии
              .service-page__right
                p В нашей клинике работают психологи и психотерапевты, имеющие медицинское и психоаналитическое образование. Существует широкий спектр проблем с которыми могут обратиться дети и подростки.
                .container
                  .col.col--sm-6
                    strong В раннем возрасте:
                    ul
                      li нарушения сна, кормления
                      li страхи, ночные кошмары, фобии
                      li страх неудач
                      li сложные отношения с матерью или другими членами семьи
                      li сексуальная озабоченность
                      li сексуальные проблемы идентичности
                      li депрессии
                      li трудности обучения и поведенческие нарушения в школе
                  .col.col--sm-6
                    strong Подростковые трудности:
                    ul
                      li чрезмерный гнев, агрессия
                      li самоповреждение
                      li суицидальное поведение
                      li чрезмерная сосредоточенность на себе и задумчивость
                      li нарушения сна
                      li проблемы с едой
                      li игровая зависимость
                      li трудности отношений с родными, со сверстниками
            .service-page
              .service-page__left
                .label Как работает
              .service-page__right
                h2 Как работает психотерапия
                p Психотерапия развивает понимание своих проблем и находит пути их решения. Ребенок или подросток начинает лучше понимать свои чувства и конфликты. Этот процесс может занять довольно длительное время, но он позволяет детям и подросткам развить способность управлять собой и своими эмоциями. Психотерапия не является магическим процессом. Тяжелый труд, терпение и доверие являются необходимыми элементами для достижения целей.
            .service-page
              .service-page__left
                .label Особенности
              .service-page__right
                .container
                  .col.col--sm-5
                    blockquote Психотерапия не является магическим процессом. Тяжелый труд, терпение и доверие являются необходимыми элементами для достижения целей.
                  .col.col--sm-1
                  .col.col--sm-6
                    strong Мы оказываем следующие виды помощи детям и подросткам в нашей клиники:
                    ul
                      li Терапевтическая консультация.
                      li Как правило, терапевтическая консультация - это первая встреча ребенка и его родителей с психотерапевтом. Родители помогают прояснить конфликты ребенка, понять трудности.
                      li Целью консультации является установить, сможет ли ребенок или подросток извлечь пользу из психотерапии.
                      li Краткосрочная психотерапия.
                      li Направлена на решение актуальной проблемы на данный момент. Решение о краткосрочной терапии принимается после нескольких терапевтических консультаций совместно родителями, ребенком и психотерапевтом.
                      li Долгосрочная психотерапия
                      li Цель состоит в том, чтобы дать ребенку или подростку понять их конфликты, научить лучше чувствовать себя в повседневной жизни. Данный вид терапии направлен на решение более глубинных проблем. Встречи проводятся от 1 до 3 раз в неделю. Терапия может длиться от нескольких месяцев до 2 лет и более.

            .service-page.service-page_itog
              .service-page__left
                .label При беременности
              .service-page__right
                h4 Психоаналитическое сопровождение семьи во время беременности и первых лет жизни ребенка.
                h4 Целью ее является помощь семьи во время прохождения сложного этапа ожидания и появления ребенка. Психоаналитическая помощь родителям в первые годы жизни ребенка.



          .inner-block__right
            a(href="").sticky-btn
              .sticky-btn__text-container
                .sticky-btn__text Записаться онлайн
              .sticky-btn__icon
                img(src="./img/sticky-sign.svg", alt="")

    include form-block.pug







