extends layout.pug

block content
  main.content
    .wrapper
      section.section
        .inner-block
          .inner-block__left
            .inner-header.inner-header_bordered.wow
              h1.inner-header__title Психотерапия детей и&nbsp;подростков
              p.inner-header__p Для быстрого и комфортного  восстановления сил организма после стрессов, общих заболеваний; помогает справиться с депрессией, хронической или физической усталостью, расстройством сна, лишний весом

            h2 Как работает психотерапия
            p Психотерапия развивает понимание своих проблем и находит пути их решения. Ребенок или подросток начинает лучше понимать свои чувства и конфликты. Этот процесс может занять довольно длительное время, но он позволяет детям и подросткам развить способность управлять собой и своими эмоциями. Психотерапия не является магическим процессом. Тяжелый труд, терпение и доверие являются необходимыми элементами для достижения целей.

          .inner-block__right
            a(href="").sticky-btn
              .sticky-btn__text-container
                .sticky-btn__text Записаться онлайн
              .sticky-btn__icon
                img(src="./img/sticky-sign.svg", alt="")

    include form-block.pug







