extends layout.pug

block condition
  - var formClass = 'form_sign-page';

block content
  main.content
    .wrapper
      section.section
        .inner-block
          .inner-block__left
            .inner-header.inner-header_bordered.wow
              h1.inner-header__title Записаться на приём
              p.inner-header__p Если вы в первый раз записываетесь на приём и у вас есть вопросы, то вы можете проконсультироваться с нашим администратором по телефону 
                a(href="tel:+7 (918) 451-48-43") +7 (918) 451-48-43
                | или 
                a(href="+7 (861) 255-18-45") +7 (861) 255-18-45
                | . Или 
                a(href="") написав нам в 
                a(href="") WhatsApp

          
          .inner-block__right
            a(href="").sticky-btn
              .sticky-btn__text-container
                .sticky-btn__text Оплатить онлайн
              .sticky-btn__icon
                img(src="./img/sticky-payment.svg", alt="")

        include form-block.pug





