extends layout.pug

block content
  main.content
    .wrapper
      section.section
        .inner-block
          .inner-block__left
            .inner-header.wow
              h1.inner-header__title Карта сайта


        .sitemap
          .container.sitemap-links
            .col.col--sm-2
              .sitemap__link.sitemap__link_big.sitemap__link_disable Навигация
            .col.col--sm-4
              .sitemap__link: a(href="") О клинике
              .sitemap__link: a(href="") Цены
              .sitemap__link: a(href="") Наши специалисты
              .sitemap__link: a(href="") Блог
              .sitemap__link: a(href="") Контакты
              .sitemap__link: a(href="") Документы
              .sitemap__link: a(href="") Онлайн-оплата
              .sitemap__link: a(href="") Политика конфиденциальности
          .container.sitemap-links
            .col.col--sm-2
              .sitemap__link.sitemap__link_big: a(href="") Услуги
            .col.col--sm-4
              .sitemap__link: a(href="") Психотерапия
              .sitemap__link: a(href="") Психотерапия детей и подростков
              .sitemap__link: a(href="") Транскраниальная магнитная стимуляция
              .sitemap__link: a(href="") Альфа-капсула
              .sitemap__link: a(href="") Функциональная диагностика
              .sitemap__link: a(href="") Справки от психиатра для детского сада и школы
              .sitemap__link: a(href="") Кабинет Памяти
              .sitemap__link: a(href="") Тренинги и семинары
              .sitemap__link: a(href="") Skype-консультации
          .container.sitemap-links
            .col.col--sm-2
              .sitemap__link.sitemap__link_big: a(href="") Специалисты
            .col.col--sm-4
              .sitemap__link: a(href="") Глазунова Татьяна Ивановна
              .sitemap__link: a(href="") Вакула Ирина Николаевна
              .sitemap__link: a(href="") Александрова Людмила Александровна
              .sitemap__link: a(href="") Силин Влад Викторович
              .sitemap__link: a(href="") Житар Тимур Вадимович
              .sitemap__link: a(href="") Симонов Эрик Ярославович
              .sitemap__link: a(href="") Гончар Эрик Дмитриевич
              .sitemap__link: a(href="") Трясило Юлиан Ярославович
              .sitemap__link: a(href="") Коцюбинский Эдуард Юхимович
              .sitemap__link: a(href="") Шестаков Чеслав Леонидович
              .sitemap__link: a(href="") Калашников Шарль Львович
              .sitemap__link: a(href="") Киселёв Чеслав Брониславович
              .sitemap__link: a(href="") Максимов Оскар Богданович
              .sitemap__link: a(href="") Баранов Игнатий Юхимович
              .sitemap__link: a(href="") Доронин Кир Вадимович
            .col.col--sm-4
              .sitemap__link: a(href="") Веселов Ленар Анатолиевич
              .sitemap__link: a(href="") Иващенко Лоренс Артёмович
              .sitemap__link: a(href="") Дроздов Леон Викторович
              .sitemap__link: a(href="") Федотов Тит Брониславович
              .sitemap__link: a(href="") Блохин Эрик Юхимович
              .sitemap__link: a(href="") Сердюк Яромир Сергеевич
              .sitemap__link: a(href="") Блохин Радислав Виталиевич
              .sitemap__link: a(href="") Игнатьев Чеслав Платонович
              .sitemap__link: a(href="") Филатов Устин Владимирович
              .sitemap__link: a(href="") Горобчук Юлиан Ярославович
              .sitemap__link: a(href="") Титов Тимур Брониславович
              .sitemap__link: a(href="") Брагин Филипп Юхимович
              .sitemap__link: a(href="") Фомичёв Людвиг Ярославович
              .sitemap__link: a(href="") Фролов Харитон Петрович
              .sitemap__link: a(href="") Соболев Оскар Григорьевич
