extends layout.pug

block content
  main.content
    section.section
      .spec-page
        .spec-page__left
          .label Невролог-эпилептолог <br>Врач высшей категории 
          h1.spec-page__title Данилова Екатерина Владимировна
        .spec-page__right
          +webp('specialist-big', 'jpg')

      .wrapper
        section.section
          h2 Образование и практика
          .container
            .col.col--sm-3
              strong Образование
            .col.col--sm-9
              p 1985 г. — Кубанский медицинский институт, лечебный факультет, специальность "Лечебное дело"
              p 1985-1986 гг. — Хабаровский медицинский институт, интернатура по терапии
              p 1987 г. — Переподготовка по неврологии на базе Камчатской областной больницы (1986 г.).
            .col.col--sm-3
              strong Курсы повышения квалификации
            .col.col--sm-9
              p С 1990 г. по н.в. — обучение на циклах повышения квалификации, тематических усовершенствованиях, сертификационных циклах по неврологии, эпилептологии
              p 2013-2017 гг. — теоретический курс аналитической психологии.
            .col.col--sm-3
              strong Участие в мероприятиях
            .col.col--sm-9
              p Победитель Краснодарского краевого этапа Всероссийского конкурса врачей в номинации "Лучший невролог".
              p Участник ежегодных международных и российских конференций по эпилептологии, инсульту, проблемам реабилитации, нарушения сна и боли, юнгианской психологии и психотерапии.

        section.section
          h2 Сертификаты и документы