extends layout.pug

block content
  //- main.content
  //-   section.section
  //-     .spec-page
  //-       .spec-page__left
  //-         .wrapper
  //-           .spec-page__left-container
  //-             .labels
  //-               .label Невролог-эпилептолог
  //-               .label Врач высшей категории 
  //-             h1.spec-page__title Данилова Екатерина Владимировна
  //-             p Психолог, работающий с детьми, страдающими расстройствами аутистического спектра (аутизм). Ведущий специалист Краснодара по немедикаментозному лечению аутизма.
  //-             .spec-page__subs
  //-               .spec-page__sub Первый приём — 4 000 руб.
  //-               .spec-page__sub Последующие — 2 000 руб.
  //-             .spec-page__btn-container
  //-               .btn
  //-                 .btn__text Записаться на приём
  //-               .spec-page__prepay Для записи на приём необходима предоплата 50%
  //-             p Психолог, работающий с детьми, страдающими расстройствами аутистического спектра (аутизм). Ведущий специалист Краснодара по немедикаментозному лечению аутизма.
  //-             .spec-page-xp-and-rating
  //-               .spec-page-xp
  //-                 .spec-page-xp__number 27
  //-                 .spec-page-xp__text лет стаж<br>работы
  //-               .spec-page-rating
  //-                 .spec-page-rating__number 7.93
  //-                 .spec-page-raring__logo
  //-                   +webp('prodoctorov', 'png')
  //-             strong Ключевые навыки:
  //-             ul
  //-               li Психологическое консультирование
  //-               li Владение психодиагностическими методами
  //-               li Семья, детство, а также коррекционная работа с детьми с психическими нарушениями
  //-             p Специализацию по эпилептологии в клинике Российского Государственного Медицинского Университета. Специалист в области медицины сна, прошла обучение на базе реабилитации Центра управления делами президента. Основное место работы – Неврологический центр СКАЛ 2-ой краевой больницы.

  //-       .spec-page__right
  //-         .spec-page__img
  //-           +webp('specialist-big', 'jpg')

  main.content
    section.section
      .spec-page.wrapper
        .spec-page__container.container
          .col.col--lg-6.spec-page__left
            .spec-page__left-container
              .labels
                .label Невролог-эпилептолог
                .label Врач высшей категории 
              h1.spec-page__title Данилова Екатерина Владимировна
              p Психолог, работающий с детьми, страдающими расстройствами аутистического спектра (аутизм). Ведущий специалист Краснодара по немедикаментозному лечению аутизма.
              .spec-page__subs
                .spec-page__sub Первый приём — 4 000 руб.
                .spec-page__sub Последующие — 2 000 руб.
              .spec-page__btn-container
                .btn
                  .btn__text Записаться на приём
                .spec-page__prepay Для записи на приём необходима предоплата 50%
              p Психолог, работающий с детьми, страдающими расстройствами аутистического спектра (аутизм). Ведущий специалист Краснодара по немедикаментозному лечению аутизма.
              .spec-page-xp-and-rating
                .spec-page-xp
                  .spec-page-xp__number 27
                  .spec-page-xp__text лет стаж<br>работы
                .spec-page-rating
                  .spec-page-rating__number 7.93
                  .spec-page-raring__logo
                    +webp('prodoctorov', 'png')
              strong Ключевые навыки:
              ul
                li Психологическое консультирование
                li Владение психодиагностическими методами
                li Семья, детство, а также коррекционная работа с детьми с психическими нарушениями
              p Специализацию по эпилептологии в клинике Российского Государственного Медицинского Университета. Специалист в области медицины сна, прошла обучение на базе реабилитации Центра управления делами президента. Основное место работы – Неврологический центр СКАЛ 2-ой краевой больницы.

          .col.col--lg-6.spec-page__right
            .spec-page__img
              +webp('specialist-big', 'jpg')




    .wrapper
      section.section.education-section
        h2 Образование и практика
        .container
          .col.col--sm-3
            strong Образование
          .col.col--sm-9
            p 1985 г. — Кубанский медицинский институт, лечебный факультет, специальность "Лечебное дело"
            p 1985-1986 гг. — Хабаровский медицинский институт, интернатура по терапии
            p 1987 г. — Переподготовка по неврологии на базе Камчатской областной больницы (1986 г.).
          .col.col--sm-3
            strong Курсы повышения квалификации
          .col.col--sm-9
            p С 1990 г. по н.в. — обучение на циклах повышения квалификации, тематических усовершенствованиях, сертификационных циклах по неврологии, эпилептологии
            p 2013-2017 гг. — теоретический курс аналитической психологии.
          .col.col--sm-3
            strong Участие в мероприятиях
          .col.col--sm-9
            p Победитель Краснодарского краевого этапа Всероссийского конкурса врачей в номинации "Лучший невролог".
            p Участник ежегодных международных и российских конференций по эпилептологии, инсульту, проблемам реабилитации, нарушения сна и боли, юнгианской психологии и психотерапии.

      section.section.diploms
        h2 Сертификаты и документы
        .slider
          .swiper-container.wow
            .swiper-wrapper
              - for (var b = 1; b < 5; b++)
                .swiper-slide
                  a(href="./img/diploms/1.jpg" data-fancybox).diplom.modal-open
                    .diplom__img
                      +webp('diploms/' + b, 'jpg')
                    p.diplom__title Диплом о профессиональной переподготовке
                    .diplom__year 1985
          .swiper-button-prev
            img(src="./img/arrow-left.svg", alt="")
          .swiper-button-next
            img(src="./img/arrow-right.svg", alt="")
          .swiper-pagination


    include form-block.pug