extends layout.pug

block content
  .wrapper 
    .container 
      .col.col--xl-3.col--md-4.col--md-6
        .box
      .col.col--xl-3.col--md-4.col--md-6
        .box
      .col.col--xl-3.col--md-4.col--md-6
        .box
      .col.col--xl-3.col--md-4.col--md-6
        .box
      .col.col--xl-3.col--md-4.col--md-6
        .box
      .col.col--xl-3.col--md-4.col--md-6
        .box
      .col.col--xl-3.col--md-4.col--md-6
        .box
      .col.col--xl-3.col--md-4.col--md-6
        .box