extends layout.pug

block content
  main.content
    .wrapper
      section.section
        .inner-block
          .inner-block__left
            .inner-header.inner-header_bordered.wow
              h1.inner-header__title Вакансии
              p.inner-header__p Если вы интересуетесь открытыми вакансиями, то вы можете проконсультироваться с нашим администратором по телефону 
                a(href="tel:(918) 451-48-43") +7 (918) 451-48-43 
                | или 
                a(href="") +7 (861) 255-18-45
                |. Или написав нам в 
                a(href="") WhatsApp 
                | или на почту 
                a(href="") hr@clinic-glazunova.com
            
            .container
              .col.col--xxl-9
                - for (var i = 0; i < 2; i++)
                  .vacancy
                    time.date.vacancy__date опубликовано 21.06.2019
                    h3.vacanry__title Уборщик/уборщица
                    p Требуется уборщик внутренней территории и уборщик внешней территории в Клинику Глазуновой.
                    .vacancy__container
                      .vacancy__left
                        strong Обязанности
                        ul
                          li Организация проведения работ по контролю качества выпускаемой продукции, в соответствии с требованиями стандартов и технических условий ,утвержденными образцами (эталонами) и технической документацией
                          li Участие в планировании мероприятий по повышению качества работы
                          li Обеспечение проверки поступающих на предприятие материальных ресурсов (сырья ,материалов ,комплектующих изделий), подготовку заключении о соответствии их качества стандартам и техническим условиям
                          li Организация операционного контроля на всех стадиях производственного процесса, контроль качества и компетентности готовой продукции
                          li Организация работы по анализу рекламаций, изучению причин возникновения дефектов и нарушении технологии производства.
                        strong Требования
                        p Опыт работы в клининговой компании или уборщиком/уборщицой
                      .vacancy__right
                        .vacancy__price от 20 000 руб.
                        .vacancy__label до вычета НДФЛ
                        hr
                        .vacancy__label режим работы
                        .vacancy__time 5/2


          .inner-block__right
            a(href="").sticky-btn
              .sticky-btn__text-container
                .sticky-btn__text Спросить в Whatsapp
              .sticky-btn__icon
                img(src="./img/sticky-whatsapp.svg", alt="")








